*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.section-heading {
  margin-bottom: 3rem;
}

.section-text {
  margin-bottom: 3rem;
}

body,
button {
  font-family: Quicksand, sans-serif;
  font-size: 1.6rem;
  color: #312f2d;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #c1187b;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  h4 {
    font-size: 2rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  padding: 1.5rem 7rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.btn--small {
  font-size: 1rem;
  padding: 1.3rem 7rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--primary {
  background-color: #c1187b;
  color: #fff;
}

.btn--primary:hover {
  background-color: #cf1a84;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon--primary {
  fill: #800080;
}

.icon--ranking {
  width: 10px;
  height: 10px;
  fill: #fa784c;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: #c1187b;
}

.block--banner {
  position: absolute;
  height: 150vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
  right: 0;
  top: 0;
}

.block--banner .image--skewed-container {
  height: 1000px;
  position: absolute;
  transform: rotate(25deg);
  border-radius: 200px;
  overflow: hidden;
  right: -270px;
  top: -655px;
}

@media (min-width: 768px) {
  .block--banner .image--skewed-container {
    width: 730px;
  }
}

@media (min-width: 1000px) {
  .block--banner .image--skewed-container {
    width: 900px;
    top: -620px;
  }
}

@media (min-width: 1400px) {
  .block--banner .image--skewed-container {
    width: 1200px;
    top: -510px;
  }
}

@media (min-width: 1800px) {
  .block--banner .image--skewed-container {
    width: 1500px;
    top: -475px;
  }
}

@media (min-width: 2200px) {
  .block--banner .image--skewed-container {
    width: 1600px;
    right: -190px;
    top: -370px;
  }
}

.block--banner .image--skewed-container .image--skewed__item {
  width: 100%;
  height: 100%;
  transform: rotate(-20deg);
  position: relative;
  top: 648px;
}

@media (max-width: 768px) {
  .block--banner .image--skewed-container .image--skewed__item {
    display: none;
  }
}

@media (min-width: 1000px) {
  .block--banner .image--skewed-container .image--skewed__item {
    top: 600px;
  }
}

@media (min-width: 1400px) {
  .block--banner .image--skewed-container .image--skewed__item {
    top: 460px;
  }
}

@media (min-width: 2200px) {
  .block--banner .image--skewed-container .image--skewed__item {
    top: 300px;
  }
}

.header {
  max-width: 80%;
  margin: 3rem auto;
}

@media (min-width: 768px) {
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header .nav .nav__brand {
  display: inline-block;
  width: 120px;
}

.header .nav .nav__toggler {
  position: absolute;
  cursor: pointer;
  right: 10%;
  top: 4rem;
  font-size: 2rem;
}

@media (min-width: 769px) {
  .header .nav .nav__toggler {
    display: none;
  }
}

.header .nav #checkbox {
  display: none;
}

.header .nav #checkbox:checked + .nav__list {
  display: block;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .header .nav #checkbox:checked + .nav__list {
    display: flex;
    margin-top: 0;
  }
}

.header .nav .nav__list {
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .header .nav .nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.header .nav .nav__list .nav__item {
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .header .nav .nav__list .nav__item {
    font-size: 1.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .header .nav .nav__list .nav__item {
    font-size: 1.8rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1400px) {
  .header .nav .nav__list .nav__item {
    font-size: 2.2rem;
    padding-right: 7rem;
  }
}

@media (min-width: 1800px) {
  .header .nav .nav__list .nav__item {
    font-size: 2.5rem;
    padding-right: 10rem;
  }
}

@media (min-width: 2200px) {
  .header .nav .nav__list .nav__item {
    font-size: 3rem;
    padding-right: 10rem;
  }
}

.header .nav .nav__list .nav__item .active {
  border-bottom: none;
}

@media (min-width: 769px) {
  .header .nav .nav__list .nav__item .active {
    border-bottom: 2px solid #c1187b;
  }
}

.header .nav .nav__list .nav__item a {
  color: #000;
  transition: color ease 0.5s;
}

.header .nav .nav__list .nav__item a:hover {
  border-bottom: 2px solid #c1187b;
  color: #b3b3b3;
}

@media (min-width: 768px) {
  .header .nav .nav__list .nav__item a {
    color: #fff;
    transition: color ease 0.5s;
  }
  .header .nav .nav__list .nav__item a:hover {
    color: #e6e6e6;
  }
}

.header .nav .nav__list .nav__item:last-child {
  padding-right: 0;
}

@media (min-width: 768px) {
  .header .nav .nav__list .nav__item {
    padding-bottom: 0;
  }
}

.hero {
  line-height: 1.5;
  text-align: center;
  width: 80%;
  margin: 25rem auto 0;
}

@media (min-width: 768px) {
  .hero {
    text-align: left;
    line-height: 1;
  }
}

.hero .hero__heading {
  font-weight: 400;
}

.hero .hero__text {
  font-weight: 400;
}

.hero .btn {
  margin-top: 3rem;
}

.why-container {
  padding: 20rem 0 10rem;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .why-container {
    padding: 10rem 0 15rem;
  }
}

@media (min-width: 1800px) {
  .why-container {
    padding: 25rem 0;
  }
}

.why-container .image--overlap {
  display: grid;
}

@media (min-width: 768px) {
  .why-container .image--overlap {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 18%);
  }
}

@media (min-width: 768px) {
  .why-container .image--overlap .image--overlap__item--top {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
}

@media (min-width: 768px) {
  .why-container .image--overlap .image--overlap__item--bottom {
    grid-row: 5/-1;
    grid-column: 3/ -1;
    z-index: 1;
  }
}

.why-container .image--overlap .media-group {
  display: grid;
}

@media (min-width: 768px) {
  .why-container .image--overlap .media-group {
    grid-template-columns: 40% 55%;
    column-gap: 5%;
  }
}

@media (min-width: 768px) {
  .why-container .image--overlap .media-group .media-group__image {
    grid-row: 1;
    grid-column: 1;
  }
}

.why-container .image--overlap .media-group .media-group__body {
  text-align: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .why-container .image--overlap .media-group .media-group__body {
    text-align: left;
    grid-row: 1;
    grid-column: 2;
  }
}

@media (min-width: 1200px) {
  .why-container .image--overlap .media-group .media-group__body {
    margin-top: 8rem;
  }
}

.why-container .image--overlap .gallery {
  display: grid;
  box-shadow: 5px 10px 30px 0 #b2afab;
}

@media (min-width: 768px) {
  .why-container .image--overlap .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.why-container .image--overlap .gallery .gallery__item {
  text-align: center;
  padding: 3rem 3rem 1rem;
  background: #fff;
}

.why-container .image--overlap .gallery .gallery__item a {
  font-size: 1.5rem;
  display: block;
  margin-top: 1.5rem;
  color: #000;
}

.why-container .image--overlap .gallery .gallery__item a:hover {
  color: #c1187b;
}

.offers {
  padding: 10rem 0;
  text-align: center;
  background: #f8f8f8;
}

.offers .container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .offers .container {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .offers .container {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  .offers .container {
    max-width: 50%;
  }
}

.offers .container .card-group {
  display: grid;
  align-items: center;
  margin: 0 auto;
  column-gap: 2rem;
}

@media (min-width: 768px) {
  .offers .container .card-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 950px) {
  .offers .container .card-group {
    column-gap: 4rem;
  }
}

.offers .container .card-group .card {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #eeebeb;
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 5rem;
}

@media (min-width: 950px) {
  .offers .container .card-group .card {
    margin: 0;
  }
}

.offers .container .card-group .card .card__heading {
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.4rem;
  margin: 0.8rem 0 0.5rem;
}

@media (min-width: 768px) {
  .offers .container .card-group .card .card__heading {
    font-size: 1.6rem;
  }
}

.offers .container .card-group .card .card__text {
  font-size: 1.2rem;
  font-style: normal;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .offers .container .card-group .card .card__text {
    font-size: 1.3rem;
  }
}

.about-us {
  padding: 10rem 0 0;
}

.about-us .container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .about-us .container {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .about-us .container {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  .about-us .container {
    max-width: 50%;
  }
}

.about-us .container .about-us-container {
  display: grid;
}

@media (min-width: 768px) {
  .about-us .container .about-us-container {
    grid-template-columns: 40% 50%;
    column-gap: 10%;
  }
}

.about-us .container .about-us-container .about-us__content {
  padding: 1rem 0 10rem;
  text-align: center;
}

@media (min-width: 768px) {
  .about-us .container .about-us-container .about-us__content {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
  }
}

@media (min-width: 900px) {
  .about-us .container .about-us-container .about-us__content {
    padding: 30% 0 0;
  }
}

@media (min-width: 1200px) {
  .about-us .container .about-us-container .about-us__content {
    padding: 50% 0 0;
  }
}

.about-us .container .about-us-container .about-us__image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 43% 33%;
}

@media (min-width: 768px) {
  .about-us .container .about-us-container .about-us__image {
    grid-row: 1;
    grid-column: 2;
  }
}

.about-us .container .about-us-container .about-us__image .image--overlap__item--top {
  grid-column: 3/-1;
  grid-row: 1;
}

.about-us .container .about-us-container .about-us__image .image--overlap__item--bottom {
  z-index: 1;
  grid-column: 1/4;
  grid-row: 2;
  padding: 2rem;
  background: #fff;
}

.services {
  background: #f8f8f8;
  margin-top: -10%;
  padding: 10rem 0;
}

@media (min-width: 768px) {
  .services {
    margin-top: -5%;
  }
}

.services .container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .services .container {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .services .container {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  .services .container {
    max-width: 50%;
  }
}

.services .container .services__list .list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .services .container .services__list .list {
    flex-direction: row;
  }
}

.services .container .services__list .list .list__item {
  text-align: center;
  padding: 0 0 2.5rem 0;
}

@media (min-width: 768px) {
  .services .container .services__list .list .list__item {
    text-align: left;
    padding: 0 3rem 2.5rem 0;
  }
}

.services .container .services__list .list .active {
  color: #c1187b;
}

.services .container .services__gallery {
  display: grid;
  row-gap: 1rem;
}

@media (min-width: 768px) {
  .services .container .services__gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 28%);
  }
}

@media (min-width: 1900px) {
  .services .container .services__gallery {
    grid-template-rows: repeat(3, 33%);
  }
}

.services .container .services__gallery .services__gallery--main {
  padding-bottom: 2rem;
}

.services .container .services__gallery .services__gallery--main img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 2200px) {
  .services .container .services__gallery .services__gallery--main img {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .services .container .services__gallery .services__gallery--main {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}

.services .container .services__gallery .services__gallery--sub {
  display: grid;
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .services .container .services__gallery .services__gallery--sub {
    column-gap: 2rem;
    grid-column: 1/-1;
    grid-row: 3;
    grid-template-columns: repeat(3, 1fr);
  }
}

.user-experience {
  padding: 10rem 0;
}

.user-experience .container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .user-experience .container {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .user-experience .container {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  .user-experience .container {
    max-width: 50%;
  }
}

.user-experience .container .user-experience__header {
  text-align: center;
  padding-bottom: 7rem;
}

.user-experience .container .user-experience__header .section-heading {
  margin-bottom: 0;
}

.user-experience .container .user-experience__comment {
  display: grid;
  column-gap: 5rem;
  row-gap: 5rem;
}

@media (min-width: 768px) {
  .user-experience .container .user-experience__comment {
    grid-template-columns: 1fr 1fr;
  }
}

.user-experience .container .user-experience__comment .testimonial {
  display: inline-block;
  border-radius: 10px;
  box-shadow: 0 0 20px 5px #eeebeb;
  padding: 3rem;
}

.user-experience .container .user-experience__comment .testimonial .testimonial__image {
  position: relative;
}

@media (min-width: 400px) {
  .user-experience .container .user-experience__comment .testimonial .testimonial__image img {
    width: 50px;
    border-radius: 30px;
    position: absolute;
    left: -50px;
    top: -50px;
  }
}

.user-experience .container .user-experience__comment .testimonial .quote {
  margin: 0;
}

.user-experience .container .user-experience__comment .testimonial .quote .media {
  display: grid;
}

@media (min-width: 768px) {
  .user-experience .container .user-experience__comment .testimonial .quote .media {
    grid-template-columns: 1fr 1fr;
  }
}

.user-experience .container .user-experience__comment .testimonial .quote .media .media__title {
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .user-experience .container .user-experience__comment .testimonial .quote .media .media__title {
    font-size: 1.6rem;
  }
}

.user-experience .container .user-experience__comment .testimonial .quote .media .media__image {
  display: inline-block;
  justify-self: start;
}

@media (min-width: 250px) {
  .user-experience .container .user-experience__comment .testimonial .quote .media .media__image {
    justify-self: end;
  }
}

.user-experience .container .user-experience__comment .testimonial .quote .quote__text {
  font-size: 1.2rem;
  font-style: italic;
  color: #979799;
  margin-top: 2rem;
  line-height: 1.8;
}

@media (min-width: 768px) {
  .user-experience .container .user-experience__comment .testimonial .quote .quote__text {
    font-size: 1.3rem;
  }
}

.footer {
  padding: 0 0 5rem;
}

.footer .container {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .footer .container {
    max-width: 70%;
  }
}

@media (min-width: 1400px) {
  .footer .container {
    max-width: 60%;
  }
}

@media (min-width: 1800px) {
  .footer .container {
    max-width: 50%;
  }
}

.footer .container .brands-container {
  display: grid;
  column-gap: 5rem;
  row-gap: 5rem;
  margin: 0 auto;
  max-width: 50%;
}

@media (min-width: 768px) {
  .footer .container .brands-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .footer .container .brands-container {
    max-width: 100%;
  }
}

.footer .container .brands-container .brand {
  display: inline-block;
  align-self: center;
}

.footer .container .brands-container .brand .brand--gray {
  width: 100%;
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.7s;
}

.footer .container .brands-container .brand .brand--gray:hover {
  filter: none;
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */