*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

// Typography

html {
  font-size: 62.5%;
}

.section-heading {
  margin-bottom: 3rem;
}

.section-text {
  margin-bottom: 3rem;
}

body,
button {
  font-family: Quicksand, sans-serif;
  font-size: 1.6rem;
  color: $color-body;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  @media (min-width: 768px) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
}

h4 {
  font-size: 1.8rem;
  @media (min-width: 768px) {
    font-size: 2rem;
  }
}

//Lists

.list {
  list-style: none;
  padding-left: 0;
}

//Buttons
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
  padding: 1.5rem 7rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.btn--small {
  font-size: 1rem;
  padding: 1.3rem 7rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--primary {
  background-color: $color-primary;
  color: #fff;
  &:hover {
    background-color: lighten($color: $color-primary, $amount: 3%);
  }
}

// Icons

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
}

.icon--primary {
  fill: #800080;
}

.icon--ranking {
  width: 10px;
  height: 10px;
  fill: #fa784c;
}

// Links

.link {
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
}
